<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container m-5 p-5">
  <header>
    <!-- <app-navbar></app-navbar> -->
  </header>
  <div class="cards d-flex flex-row  justify-content-around">
    <!-- <app-cards i = "0" [obj] = "plan[0]"></app-cards>
    <app-cards [obj] = "plan[1]"></app-cards>
    <app-cards [obj] = "plan[2]"></app-cards> -->
    <app-card i="0" [obj] = "plan[0]"></app-card>
    <app-card [obj] ="plan[1]"></app-card>
    <app-card [obj] = "plan[2]"></app-card>

  </div>
</div>